:root {
    --absolute: absolute;

}

.passero-one-regular {
    font-family: "Passero One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


/* .main-img {
    float: left;
    margin-right: 40px;
    width: 30vw;
} */

.image-container {
    position: relative;
    display: inline-block;
}

.image-container .main-img {
    display: block;
    width: 30vw;
    height: auto;
}

.logo-container {
    position: var(--absolute);
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}

.logo {
    width: 4vw;
    padding: 5px;
}

.odin {
    font-size: 50px;
    font-family: "Passero One", sans-serif;
    color: #fff;
}