:root {
    --absolute: absolute;
    --white: #fff;
}

.passero-one-regular {
    font-family: "Passero One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.image-container {
    position: relative;
    display: inline-block;
}

.image-container .main-img {
    display: block;
    width: 30vw;
    height: auto;
}

.logo-container {
    position: var(--absolute);
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}

.logo {
    width: 4vw;
    padding: 5px;
}

.odin {
    font-size: 50px;
    font-family: "Passero One", sans-serif;
    color: var(--white);
}

.img-credit {
    position: var(--absolute);
    top: 96%;
    color: var(--white);
    width: 100%;
    text-align: center;
}

.img-credit em {
    text-decoration: underline;
}